body {
	font-family:    Helvetica, sans-serif;
	font-size:      18px;
	line-height:    1.5em;
	margin:         0;
	padding:        0;
}

h1 {
    font-size: 2.027rem;
}

header, nav, main, footer {
    display:          flex;
    align-items:      center;
    justify-content:  center;
}

header {
    padding: 1rem;
}

nav {
    padding: 0 1rem;
}

main {
    padding:        2rem 1rem;
    gap:            3rem;
    align-items:    flex-start;
    flex-wrap:      wrap;
}

section {
    max-width: 50ch;
}

section p:first-of-type {
    margin-top:     0;
    padding-top:    0;
}

aside {
  display:          flex;
  flex-direction:   column;
  align-items:      center;
  gap:              1rem;
}

footer {
    font-size: 0.889rem;
}

.screenshot-hr, .screenshot-bg {
	width: 205px;
}

.screenshot-hr {
	height:	433px;
}

.screenshot-bg {
	height:	439px;
}

.prev, .next {
	cursor: 		pointer;
	padding: 		1rem;
	font-weight: 	bold;
	border-radius:	16px;
}

.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.3);
}